<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.camelot.pmt.testmanage.mapper.BugManageMapper" >
  <resultMap id="BaseResultMap" type="com.camelot.pmt.testmanage.model.BugManage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="project_id" property="projectId" jdbcType="BIGINT" />
    <result column="demand_id" property="demandId" jdbcType="BIGINT" />
    <result column="task_id" property="taskId" jdbcType="BIGINT" />
    <result column="designated_id" property="designatedId" jdbcType="BIGINT" />
    <result column="version_id" property="versionId" jdbcType="BIGINT" />
    <result column="bug_title" property="bugTitle" jdbcType="VARCHAR" />
    <result column="bug_type" property="bugType" jdbcType="VARCHAR" />
    <result column="explorer" property="explorer" jdbcType="VARCHAR" />
    <result column="operating_system" property="operatingSystem" jdbcType="VARCHAR" />
    <result column="bug_level" property="bugLevel" jdbcType="TINYINT" />
    <result column="bug_status" property="bugStatus" jdbcType="TINYINT" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
    <result column="steps_reproduce" property="stepsReproduce" jdbcType="VARCHAR" />
    <result column="attach_name" property="attachName" jdbcType="VARCHAR" />
    <result column="solve_time" property="solveTime" jdbcType="TIMESTAMP" />
    <result column="solve_program" property="solveProgram" jdbcType="INTEGER" />
    <result column="solve_id" property="solveId" jdbcType="BIGINT" />
    <result column="responsible_id" property="responsibleId" jdbcType="BIGINT" />
    <result column="close_time" property="closeTime" jdbcType="TIMESTAMP" />
    <result column="close_id" property="closeId" jdbcType="BIGINT" />
    <result column="attach_url" property="attachUrl" jdbcType="VARCHAR" />
    <result column="serious_degree" property="seriousDegree" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, project_id, demand_id, task_id, designated_id, version_id, bug_title, bug_type, 
    explorer, operating_system, bug_level, bug_status, create_id, create_time, end_time, 
    update_id, update_time, del_flag, steps_reproduce, attach_name, solve_time, solve_program, 
    solve_id, responsible_id, close_time, close_id, attach_url, serious_degree
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from bug_manage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bug_manage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.camelot.pmt.testmanage.model.BugManage" >
    insert into bug_manage (id, project_id, demand_id, 
      task_id, designated_id, version_id, 
      bug_title, bug_type, explorer, 
      operating_system, bug_level, bug_status, 
      create_id, create_time, end_time, 
      update_id, update_time, del_flag, 
      steps_reproduce, attach_name, solve_time, 
      solve_program, solve_id, responsible_id, 
      close_time, close_id, attach_url, 
      serious_degree)
    values (#{id,jdbcType=BIGINT}, #{projectId,jdbcType=BIGINT}, #{demandId,jdbcType=BIGINT}, 
      #{taskId,jdbcType=BIGINT}, #{designatedId,jdbcType=BIGINT}, #{versionId,jdbcType=BIGINT}, 
      #{bugTitle,jdbcType=VARCHAR}, #{bugType,jdbcType=VARCHAR}, #{explorer,jdbcType=VARCHAR}, 
      #{operatingSystem,jdbcType=VARCHAR}, #{bugLevel,jdbcType=TINYINT}, #{bugStatus,jdbcType=TINYINT}, 
      #{createId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{updateId,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=CHAR}, 
      #{stepsReproduce,jdbcType=VARCHAR}, #{attachName,jdbcType=VARCHAR}, #{solveTime,jdbcType=TIMESTAMP}, 
      #{solveProgram,jdbcType=INTEGER}, #{solveId,jdbcType=BIGINT}, #{responsibleId,jdbcType=BIGINT}, 
      #{closeTime,jdbcType=TIMESTAMP}, #{closeId,jdbcType=BIGINT}, #{attachUrl,jdbcType=VARCHAR}, 
      #{seriousDegree,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.camelot.pmt.testmanage.model.BugManage" >
    insert into bug_manage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="demandId != null" >
        demand_id,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="designatedId != null" >
        designated_id,
      </if>
      <if test="versionId != null" >
        version_id,
      </if>
      <if test="bugTitle != null" >
        bug_title,
      </if>
      <if test="bugType != null" >
        bug_type,
      </if>
      <if test="explorer != null" >
        explorer,
      </if>
      <if test="operatingSystem != null" >
        operating_system,
      </if>
      <if test="bugLevel != null" >
        bug_level,
      </if>
      <if test="bugStatus != null" >
        bug_status,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="stepsReproduce != null" >
        steps_reproduce,
      </if>
      <if test="attachName != null" >
        attach_name,
      </if>
      <if test="solveTime != null" >
        solve_time,
      </if>
      <if test="solveProgram != null" >
        solve_program,
      </if>
      <if test="solveId != null" >
        solve_id,
      </if>
      <if test="responsibleId != null" >
        responsible_id,
      </if>
      <if test="closeTime != null" >
        close_time,
      </if>
      <if test="closeId != null" >
        close_id,
      </if>
      <if test="attachUrl != null" >
        attach_url,
      </if>
      <if test="seriousDegree != null" >
        serious_degree,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="demandId != null" >
        #{demandId,jdbcType=BIGINT},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=BIGINT},
      </if>
      <if test="designatedId != null" >
        #{designatedId,jdbcType=BIGINT},
      </if>
      <if test="versionId != null" >
        #{versionId,jdbcType=BIGINT},
      </if>
      <if test="bugTitle != null" >
        #{bugTitle,jdbcType=VARCHAR},
      </if>
      <if test="bugType != null" >
        #{bugType,jdbcType=VARCHAR},
      </if>
      <if test="explorer != null" >
        #{explorer,jdbcType=VARCHAR},
      </if>
      <if test="operatingSystem != null" >
        #{operatingSystem,jdbcType=VARCHAR},
      </if>
      <if test="bugLevel != null" >
        #{bugLevel,jdbcType=TINYINT},
      </if>
      <if test="bugStatus != null" >
        #{bugStatus,jdbcType=TINYINT},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="stepsReproduce != null" >
        #{stepsReproduce,jdbcType=VARCHAR},
      </if>
      <if test="attachName != null" >
        #{attachName,jdbcType=VARCHAR},
      </if>
      <if test="solveTime != null" >
        #{solveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="solveProgram != null" >
        #{solveProgram,jdbcType=INTEGER},
      </if>
      <if test="solveId != null" >
        #{solveId,jdbcType=BIGINT},
      </if>
      <if test="responsibleId != null" >
        #{responsibleId,jdbcType=BIGINT},
      </if>
      <if test="closeTime != null" >
        #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeId != null" >
        #{closeId,jdbcType=BIGINT},
      </if>
      <if test="attachUrl != null" >
        #{attachUrl,jdbcType=VARCHAR},
      </if>
      <if test="seriousDegree != null" >
        #{seriousDegree,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.camelot.pmt.testmanage.model.BugManage" >
    update bug_manage
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="demandId != null" >
        demand_id = #{demandId,jdbcType=BIGINT},
      </if>
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=BIGINT},
      </if>
      <if test="designatedId != null" >
        designated_id = #{designatedId,jdbcType=BIGINT},
      </if>
      <if test="versionId != null" >
        version_id = #{versionId,jdbcType=BIGINT},
      </if>
      <if test="bugTitle != null" >
        bug_title = #{bugTitle,jdbcType=VARCHAR},
      </if>
      <if test="bugType != null" >
        bug_type = #{bugType,jdbcType=VARCHAR},
      </if>
      <if test="explorer != null" >
        explorer = #{explorer,jdbcType=VARCHAR},
      </if>
      <if test="operatingSystem != null" >
        operating_system = #{operatingSystem,jdbcType=VARCHAR},
      </if>
      <if test="bugLevel != null" >
        bug_level = #{bugLevel,jdbcType=TINYINT},
      </if>
      <if test="bugStatus != null" >
        bug_status = #{bugStatus,jdbcType=TINYINT},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="stepsReproduce != null" >
        steps_reproduce = #{stepsReproduce,jdbcType=VARCHAR},
      </if>
      <if test="attachName != null" >
        attach_name = #{attachName,jdbcType=VARCHAR},
      </if>
      <if test="solveTime != null" >
        solve_time = #{solveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="solveProgram != null" >
        solve_program = #{solveProgram,jdbcType=INTEGER},
      </if>
      <if test="solveId != null" >
        solve_id = #{solveId,jdbcType=BIGINT},
      </if>
      <if test="responsibleId != null" >
        responsible_id = #{responsibleId,jdbcType=BIGINT},
      </if>
      <if test="closeTime != null" >
        close_time = #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeId != null" >
        close_id = #{closeId,jdbcType=BIGINT},
      </if>
      <if test="attachUrl != null" >
        attach_url = #{attachUrl,jdbcType=VARCHAR},
      </if>
      <if test="seriousDegree != null" >
        serious_degree = #{seriousDegree,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.camelot.pmt.testmanage.model.BugManage" >
    update bug_manage
    set project_id = #{projectId,jdbcType=BIGINT},
      demand_id = #{demandId,jdbcType=BIGINT},
      task_id = #{taskId,jdbcType=BIGINT},
      designated_id = #{designatedId,jdbcType=BIGINT},
      version_id = #{versionId,jdbcType=BIGINT},
      bug_title = #{bugTitle,jdbcType=VARCHAR},
      bug_type = #{bugType,jdbcType=VARCHAR},
      explorer = #{explorer,jdbcType=VARCHAR},
      operating_system = #{operatingSystem,jdbcType=VARCHAR},
      bug_level = #{bugLevel,jdbcType=TINYINT},
      bug_status = #{bugStatus,jdbcType=TINYINT},
      create_id = #{createId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=CHAR},
      steps_reproduce = #{stepsReproduce,jdbcType=VARCHAR},
      attach_name = #{attachName,jdbcType=VARCHAR},
      solve_time = #{solveTime,jdbcType=TIMESTAMP},
      solve_program = #{solveProgram,jdbcType=INTEGER},
      solve_id = #{solveId,jdbcType=BIGINT},
      responsible_id = #{responsibleId,jdbcType=BIGINT},
      close_time = #{closeTime,jdbcType=TIMESTAMP},
      close_id = #{closeId,jdbcType=BIGINT},
      attach_url = #{attachUrl,jdbcType=VARCHAR},
      serious_degree = #{seriousDegree,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>