<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.camelot.pmt.task.mapper.TaskLogMapper" >
  <resultMap id="BaseResultMap" type="com.camelot.pmt.task.model.TaskLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="task_id" property="taskId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="operation_time" property="operationTime" jdbcType="TIMESTAMP" />
    <result column="operation_type" property="operationType" jdbcType="VARCHAR" />
    <result column="operation_describe" property="operationDescribe" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="modify_user_id" property="modifyUserId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="Column_1" property="column1" jdbcType="VARCHAR" />
    <result column="Column_2" property="column2" jdbcType="VARCHAR" />
    <result column="Column_3" property="column3" jdbcType="VARCHAR" />
    <result column="Column_4" property="column4" jdbcType="VARCHAR" />
    <result column="Column_5" property="column5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, task_id, user_name, operation_time, operation_type, operation_describe, create_user_id, 
    modify_user_id, create_time, modify_time, Column_1, Column_2, Column_3, Column_4, 
    Column_5
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from task_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from task_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.camelot.pmt.task.model.TaskLog" >
    insert into task_log (id, task_id, user_name, 
      operation_time, operation_type, operation_describe, 
      create_user_id, modify_user_id, create_time, 
      modify_time, Column_1, Column_2, 
      Column_3, Column_4, Column_5
      )
    values (#{id,jdbcType=BIGINT}, #{taskId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, 
      #{operationTime,jdbcType=TIMESTAMP}, #{operationType,jdbcType=VARCHAR}, #{operationDescribe,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=VARCHAR}, #{modifyUserId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{column1,jdbcType=VARCHAR}, #{column2,jdbcType=VARCHAR}, 
      #{column3,jdbcType=VARCHAR}, #{column4,jdbcType=VARCHAR}, #{column5,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.camelot.pmt.task.model.TaskLog" >
    insert into task_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="operationTime != null" >
        operation_time,
      </if>
      <if test="operationType != null" >
        operation_type,
      </if>
      <if test="operationDescribe != null" >
        operation_describe,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="modifyUserId != null" >
        modify_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="column1 != null" >
        Column_1,
      </if>
      <if test="column2 != null" >
        Column_2,
      </if>
      <if test="column3 != null" >
        Column_3,
      </if>
      <if test="column4 != null" >
        Column_4,
      </if>
      <if test="column5 != null" >
        Column_5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="operationTime != null" >
        #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationType != null" >
        #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="operationDescribe != null" >
        #{operationDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserId != null" >
        #{modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="column1 != null" >
        #{column1,jdbcType=VARCHAR},
      </if>
      <if test="column2 != null" >
        #{column2,jdbcType=VARCHAR},
      </if>
      <if test="column3 != null" >
        #{column3,jdbcType=VARCHAR},
      </if>
      <if test="column4 != null" >
        #{column4,jdbcType=VARCHAR},
      </if>
      <if test="column5 != null" >
        #{column5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.camelot.pmt.task.model.TaskLog" >
    update task_log
    <set >
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="operationTime != null" >
        operation_time = #{operationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operationType != null" >
        operation_type = #{operationType,jdbcType=VARCHAR},
      </if>
      <if test="operationDescribe != null" >
        operation_describe = #{operationDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="modifyUserId != null" >
        modify_user_id = #{modifyUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="column1 != null" >
        Column_1 = #{column1,jdbcType=VARCHAR},
      </if>
      <if test="column2 != null" >
        Column_2 = #{column2,jdbcType=VARCHAR},
      </if>
      <if test="column3 != null" >
        Column_3 = #{column3,jdbcType=VARCHAR},
      </if>
      <if test="column4 != null" >
        Column_4 = #{column4,jdbcType=VARCHAR},
      </if>
      <if test="column5 != null" >
        Column_5 = #{column5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.camelot.pmt.task.model.TaskLog" >
    update task_log
    set task_id = #{taskId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      operation_time = #{operationTime,jdbcType=TIMESTAMP},
      operation_type = #{operationType,jdbcType=VARCHAR},
      operation_describe = #{operationDescribe,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      modify_user_id = #{modifyUserId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      Column_1 = #{column1,jdbcType=VARCHAR},
      Column_2 = #{column2,jdbcType=VARCHAR},
      Column_3 = #{column3,jdbcType=VARCHAR},
      Column_4 = #{column4,jdbcType=VARCHAR},
      Column_5 = #{column5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>