<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.camelot.pmt.task.mapper.TaskFileMapper" >
  <resultMap id="BaseResultMap" type="com.camelot.pmt.task.model.TaskFile" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="attachment_url" property="attachmentUrl" jdbcType="VARCHAR" />
    <result column="attachment_tile" property="attachmentTile" jdbcType="VARCHAR" />
    <result column="attachment_source" property="attachmentSource" jdbcType="VARCHAR" />
    <result column="source_id" property="sourceId" jdbcType="BIGINT" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_user_id" property="modifyUserId" jdbcType="BIGINT" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, attachment_url, attachment_tile, attachment_source, source_id, create_user_id, 
    create_time, modify_user_id, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from attachment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from attachment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.camelot.pmt.task.model.TaskFile" >
    insert into attachment (id, attachment_url, attachment_tile, 
      attachment_source, source_id, create_user_id, 
      create_time, modify_user_id, modify_time
      )
    values (#{id,jdbcType=BIGINT}, #{attachmentUrl,jdbcType=VARCHAR}, #{attachmentTile,jdbcType=VARCHAR}, 
      #{attachmentSource,jdbcType=VARCHAR}, #{sourceId,jdbcType=BIGINT}, #{createUserId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=BIGINT}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.camelot.pmt.task.model.TaskFile" >
    insert into attachment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="attachmentUrl != null" >
        attachment_url,
      </if>
      <if test="attachmentTile != null" >
        attachment_tile,
      </if>
      <if test="attachmentSource != null" >
        attachment_source,
      </if>
      <if test="sourceId != null" >
        source_id,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyUserId != null" >
        modify_user_id,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="attachmentUrl != null" >
        #{attachmentUrl,jdbcType=VARCHAR},
      </if>
      <if test="attachmentTile != null" >
        #{attachmentTile,jdbcType=VARCHAR},
      </if>
      <if test="attachmentSource != null" >
        #{attachmentSource,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null" >
        #{sourceId,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.camelot.pmt.task.model.TaskFile" >
    update attachment
    <set >
      <if test="attachmentUrl != null" >
        attachment_url = #{attachmentUrl,jdbcType=VARCHAR},
      </if>
      <if test="attachmentTile != null" >
        attachment_tile = #{attachmentTile,jdbcType=VARCHAR},
      </if>
      <if test="attachmentSource != null" >
        attachment_source = #{attachmentSource,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null" >
        source_id = #{sourceId,jdbcType=BIGINT},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.camelot.pmt.task.model.TaskFile" >
    update attachment
    set attachment_url = #{attachmentUrl,jdbcType=VARCHAR},
      attachment_tile = #{attachmentTile,jdbcType=VARCHAR},
      attachment_source = #{attachmentSource,jdbcType=VARCHAR},
      source_id = #{sourceId,jdbcType=BIGINT},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
</mapper>