<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.camelot.pmt.project.mapper.BudgetMapper" >
  <resultMap id="BaseResultMap" type="com.camelot.pmt.project.model.Budget" >
    <id column="budget_id" property="budgetId" jdbcType="INTEGER" />
    <result column="pro_id" property="proId" jdbcType="INTEGER" />
    <result column="budget_money" property="budgetMoney" jdbcType="DECIMAL" />
    <result column="avg_salary" property="avgSalary" jdbcType="DECIMAL" />
    <result column="equipment" property="equipment" jdbcType="DECIMAL" />
    <result column="other" property="other" jdbcType="DECIMAL" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_user_id" property="modifyUserId" jdbcType="INTEGER" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="Column_1" property="column1" jdbcType="VARCHAR" />
    <result column="Column_2" property="column2" jdbcType="VARCHAR" />
    <result column="Column_3" property="column3" jdbcType="VARCHAR" />
    <result column="Column_4" property="column4" jdbcType="VARCHAR" />
    <result column="Column_5" property="column5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    budget_id, pro_id, budget_money, avg_salary, equipment, other, create_user, create_time, 
    modify_user_id, modify_time, Column_1, Column_2, Column_3, Column_4, Column_5
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from budget
    where budget_id = #{budgetId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from budget
    where budget_id = #{budgetId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.camelot.pmt.project.model.Budget" >
    insert into budget (budget_id, pro_id, budget_money, 
      avg_salary, equipment, other, 
      create_user, create_time, modify_user_id, 
      modify_time, Column_1, Column_2, 
      Column_3, Column_4, Column_5
      )
    values (#{budgetId,jdbcType=INTEGER}, #{proId,jdbcType=INTEGER}, #{budgetMoney,jdbcType=DECIMAL}, 
      #{avgSalary,jdbcType=DECIMAL}, #{equipment,jdbcType=DECIMAL}, #{other,jdbcType=DECIMAL}, 
      #{createUser,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=INTEGER}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{column1,jdbcType=VARCHAR}, #{column2,jdbcType=VARCHAR}, 
      #{column3,jdbcType=VARCHAR}, #{column4,jdbcType=VARCHAR}, #{column5,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.camelot.pmt.project.model.Budget" >
    insert into budget
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="budgetId != null" >
        budget_id,
      </if>
      <if test="proId != null" >
        pro_id,
      </if>
      <if test="budgetMoney != null" >
        budget_money,
      </if>
      <if test="avgSalary != null" >
        avg_salary,
      </if>
      <if test="equipment != null" >
        equipment,
      </if>
      <if test="other != null" >
        other,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyUserId != null" >
        modify_user_id,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="column1 != null" >
        Column_1,
      </if>
      <if test="column2 != null" >
        Column_2,
      </if>
      <if test="column3 != null" >
        Column_3,
      </if>
      <if test="column4 != null" >
        Column_4,
      </if>
      <if test="column5 != null" >
        Column_5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="budgetId != null" >
        #{budgetId,jdbcType=INTEGER},
      </if>
      <if test="proId != null" >
        #{proId,jdbcType=INTEGER},
      </if>
      <if test="budgetMoney != null" >
        #{budgetMoney,jdbcType=DECIMAL},
      </if>
      <if test="avgSalary != null" >
        #{avgSalary,jdbcType=DECIMAL},
      </if>
      <if test="equipment != null" >
        #{equipment,jdbcType=DECIMAL},
      </if>
      <if test="other != null" >
        #{other,jdbcType=DECIMAL},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        #{modifyUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="column1 != null" >
        #{column1,jdbcType=VARCHAR},
      </if>
      <if test="column2 != null" >
        #{column2,jdbcType=VARCHAR},
      </if>
      <if test="column3 != null" >
        #{column3,jdbcType=VARCHAR},
      </if>
      <if test="column4 != null" >
        #{column4,jdbcType=VARCHAR},
      </if>
      <if test="column5 != null" >
        #{column5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.camelot.pmt.project.model.Budget" >
    update budget
    <set >
      <if test="proId != null" >
        pro_id = #{proId,jdbcType=INTEGER},
      </if>
      <if test="budgetMoney != null" >
        budget_money = #{budgetMoney,jdbcType=DECIMAL},
      </if>
      <if test="avgSalary != null" >
        avg_salary = #{avgSalary,jdbcType=DECIMAL},
      </if>
      <if test="equipment != null" >
        equipment = #{equipment,jdbcType=DECIMAL},
      </if>
      <if test="other != null" >
        other = #{other,jdbcType=DECIMAL},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="column1 != null" >
        Column_1 = #{column1,jdbcType=VARCHAR},
      </if>
      <if test="column2 != null" >
        Column_2 = #{column2,jdbcType=VARCHAR},
      </if>
      <if test="column3 != null" >
        Column_3 = #{column3,jdbcType=VARCHAR},
      </if>
      <if test="column4 != null" >
        Column_4 = #{column4,jdbcType=VARCHAR},
      </if>
      <if test="column5 != null" >
        Column_5 = #{column5,jdbcType=VARCHAR},
      </if>
    </set>
    where budget_id = #{budgetId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.camelot.pmt.project.model.Budget" >
    update budget
    set pro_id = #{proId,jdbcType=INTEGER},
      budget_money = #{budgetMoney,jdbcType=DECIMAL},
      avg_salary = #{avgSalary,jdbcType=DECIMAL},
      equipment = #{equipment,jdbcType=DECIMAL},
      other = #{other,jdbcType=DECIMAL},
      create_user = #{createUser,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      Column_1 = #{column1,jdbcType=VARCHAR},
      Column_2 = #{column2,jdbcType=VARCHAR},
      Column_3 = #{column3,jdbcType=VARCHAR},
      Column_4 = #{column4,jdbcType=VARCHAR},
      Column_5 = #{column5,jdbcType=VARCHAR}
    where budget_id = #{budgetId,jdbcType=INTEGER}
  </update>
</mapper>