<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.camelot.pmt.project.mapper.ProjectOperateMapper">
	<!--根据项目id进行查询 -->
	<select id="queryByProjectId" resultMap="ResultMapWithBLOBs"
		parameterType="Long">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from project_operate
		where project_id = #{project_id}
	</select>
	<!--根据创建人id进行查询 -->
	<select id="queryByCreateUserId" resultMap="ResultMapWithBLOBs"
		parameterType="String">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from project_operate
		where create_user_id = #{create_user_id}
	</select>
	<resultMap id="BaseResultMap" type="com.camelot.pmt.project.model.ProjectOperate">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="project_id" property="projectId" jdbcType="BIGINT" />
		<result column="create_user_id" property="createUserId"
			jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.camelot.pmt.project.model.ProjectOperate"
		extends="BaseResultMap">
		<result column="operate_desc" property="operateDesc" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, project_id, create_user_id, create_time
	</sql>
	<sql id="Blob_Column_List">
		operate_desc
	</sql>
	<select id="queryByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from project_operate
		where id = #{id,jdbcType=INTEGER}
	</select>
	<insert id="addProjectOperate" parameterType="ProjectOperate">
		insert into project_operate
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="projectId != null">
				project_id,
			</if>
			<if test="createUserId != null">
				create_user_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="operateDesc != null">
				operate_desc,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="projectId != null">
				#{projectId,jdbcType=BIGINT},
			</if>
			<if test="createUserId != null">
				#{createUserId,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="operateDesc != null">
				#{operateDesc,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
</mapper>