<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.camelot.pmt.mapper.remindReportMapper" >
  <resultMap id="BaseResultMap" type="com.camelot.pmt.project.model.remindReport" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="project_id" property="projectId" jdbcType="BIGINT" />
    <result column="remind_type" property="remindType" jdbcType="CHAR" />
    <result column="remind_frequency" property="remindFrequency" jdbcType="CHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.camelot.pmt.project.model.remindReport" extends="BaseResultMap" >
    <result column="daily_content" property="dailyContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, project_id, remind_type, remind_frequency, create_user_id, create_time
  </sql>
  <sql id="Blob_Column_List" >
    daily_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from remind_report
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from remind_report
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.camelot.pmt.project.model.remindReport" >
    insert into remind_report (id, project_id, remind_type, 
      remind_frequency, create_user_id, create_time, 
      daily_content)
    values (#{id,jdbcType=BIGINT}, #{projectId,jdbcType=BIGINT}, #{remindType,jdbcType=CHAR}, 
      #{remindFrequency,jdbcType=CHAR}, #{createUserId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{dailyContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.camelot.pmt.project.model.remindReport" >
    insert into remind_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="remindType != null" >
        remind_type,
      </if>
      <if test="remindFrequency != null" >
        remind_frequency,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="dailyContent != null" >
        daily_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="remindType != null" >
        #{remindType,jdbcType=CHAR},
      </if>
      <if test="remindFrequency != null" >
        #{remindFrequency,jdbcType=CHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dailyContent != null" >
        #{dailyContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.camelot.pmt.project.model.remindReport" >
    update remind_report
    <set >
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="remindType != null" >
        remind_type = #{remindType,jdbcType=CHAR},
      </if>
      <if test="remindFrequency != null" >
        remind_frequency = #{remindFrequency,jdbcType=CHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dailyContent != null" >
        daily_content = #{dailyContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.camelot.pmt.project.model.remindReport" >
    update remind_report
    set project_id = #{projectId,jdbcType=BIGINT},
      remind_type = #{remindType,jdbcType=CHAR},
      remind_frequency = #{remindFrequency,jdbcType=CHAR},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      daily_content = #{dailyContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.camelot.pmt.project.model.remindReport" >
    update remind_report
    set project_id = #{projectId,jdbcType=BIGINT},
      remind_type = #{remindType,jdbcType=CHAR},
      remind_frequency = #{remindFrequency,jdbcType=CHAR},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>