<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.camelot.pmt.project.mapper.WarningMapper" >
  <resultMap id="BaseResultMap" type="com.camelot.pmt.project.model.Warning" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="warn_type" property="warnType" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="warn_time" property="warnTime" jdbcType="TIMESTAMP" />
    <result column="min_num" property="minNum" jdbcType="INTEGER" />
    <result column="max_num" property="maxNum" jdbcType="INTEGER" />
    <result column="warn_status" property="warnStatus" jdbcType="CHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_user_id" property="modifyUserId" jdbcType="BIGINT" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, warn_type, user_id, warn_time, min_num, max_num, warn_status, create_user_id, 
    create_time, modify_user_id, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from warning
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from warning
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.camelot.pmt.project.model.Warning" >
    insert into warning (id, warn_type, user_id, 
      warn_time, min_num, max_num, 
      warn_status, create_user_id, create_time, 
      modify_user_id, modify_time)
    values (#{id,jdbcType=BIGINT}, #{warnType,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, 
      #{warnTime,jdbcType=TIMESTAMP}, #{minNum,jdbcType=INTEGER}, #{maxNum,jdbcType=INTEGER}, 
      #{warnStatus,jdbcType=CHAR}, #{createUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyUserId,jdbcType=BIGINT}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.camelot.pmt.project.model.Warning" >
    insert into warning
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="warnType != null" >
        warn_type,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="warnTime != null" >
        warn_time,
      </if>
      <if test="minNum != null" >
        min_num,
      </if>
      <if test="maxNum != null" >
        max_num,
      </if>
      <if test="warnStatus != null" >
        warn_status,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyUserId != null" >
        modify_user_id,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="warnType != null" >
        #{warnType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="warnTime != null" >
        #{warnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="minNum != null" >
        #{minNum,jdbcType=INTEGER},
      </if>
      <if test="maxNum != null" >
        #{maxNum,jdbcType=INTEGER},
      </if>
      <if test="warnStatus != null" >
        #{warnStatus,jdbcType=CHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.camelot.pmt.project.model.Warning" >
    update warning
    <set >
      <if test="warnType != null" >
        warn_type = #{warnType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="warnTime != null" >
        warn_time = #{warnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="minNum != null" >
        min_num = #{minNum,jdbcType=INTEGER},
      </if>
      <if test="maxNum != null" >
        max_num = #{maxNum,jdbcType=INTEGER},
      </if>
      <if test="warnStatus != null" >
        warn_status = #{warnStatus,jdbcType=CHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUserId != null" >
        modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.camelot.pmt.project.model.Warning" >
    update warning
    set warn_type = #{warnType,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      warn_time = #{warnTime,jdbcType=TIMESTAMP},
      min_num = #{minNum,jdbcType=INTEGER},
      max_num = #{maxNum,jdbcType=INTEGER},
      warn_status = #{warnStatus,jdbcType=CHAR},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_user_id = #{modifyUserId,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>