<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camelot.pmt.caserepertory.mapper.CaseRepertoryStepMapper">
    <resultMap id="BaseResultMap" type="com.camelot.pmt.caserepertory.model.CaseRepertoryStep">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="step" jdbcType="VARCHAR" property="step"/>
        <result column="expect" jdbcType="VARCHAR" property="expect"/>
        <result column="use_case_id" jdbcType="BIGINT" property="useCaseId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, step, expect, use_case_id
    </sql>
    <!--增加-->
    <insert id="insert" parameterType="com.camelot.pmt.caserepertory.model.CaseRepertoryStep">
        insert into case_repertory_step (id, step, expect,
        use_case_id)
        values (#{id,jdbcType=BIGINT}, #{step,jdbcType=VARCHAR}, #{expect,jdbcType=VARCHAR},
        #{useCaseId,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" parameterType="com.camelot.pmt.caserepertory.model.CaseRepertoryStep">

        insert into case_repertory_step
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="step != null">
                step,
            </if>
            <if test="expect != null">
                expect,
            </if>
            <if test="useCaseId != null">
                use_case_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="step != null">
                #{step,jdbcType=VARCHAR},
            </if>
            <if test="expect != null">
                #{expect,jdbcType=VARCHAR},
            </if>
            <if test="useCaseId != null">
                #{useCaseId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        insert into case_repertory_step (step, expect, use_case_id)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.step}, #{item.expect}, #{item.useCaseId})
        </foreach>
    </insert>
    <!--删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from case_repertory_step
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="remove" parameterType="java.util.Map">
        delete from case_repertory_step
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="ids != null">
                <foreach collection="ids" item="item" open="and id in(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="useCaseIds != null">
                <foreach collection="useCaseIds" item="item" open="and use_case_id in(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </delete>
    <!--修改-->
    <update id="updateByPrimaryKeySelective" parameterType="com.camelot.pmt.caserepertory.model.CaseRepertoryStep">
        update case_repertory_step
        <set>
            <if test="step != null">
                step = #{step,jdbcType=VARCHAR},
            </if>
            <if test="expect != null">
                expect = #{expect,jdbcType=VARCHAR},
            </if>
            <if test="useCaseId != null">
                use_case_id = #{useCaseId,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.camelot.pmt.caserepertory.model.CaseRepertoryStep">
        update case_repertory_step
        set step = #{step,jdbcType=VARCHAR},
        expect = #{expect,jdbcType=VARCHAR},
        use_case_id = #{useCaseId,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <!--查询-->
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from case_repertory_step
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="findByUseCaseId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from case_repertory_step where use_case_id = #{useCaseId}
    </select>
</mapper>