<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.camelot.pmt.project.mapper.ProjectMapper">
	<resultMap id="BaseResultMap" type="com.camelot.pmt.project.model.Project">
		<id column="pro_id" property="proId" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="pro_code" property="proCode" jdbcType="CHAR" />
		<result column="pro_name" property="proName" jdbcType="VARCHAR" />
		<result column="pro_status" property="proStatus" jdbcType="CHAR" />
		<result column="error_state" property="errorState" jdbcType="CHAR" />
		<result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
		<result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
		<result column="warn_time" property="warnTime" jdbcType="TIMESTAMP" />
		<result column="pre_time" property="preTime" jdbcType="INTEGER" />
		<result column="consume_time" property="consumeTime" jdbcType="INTEGER" />
		<result column="rest_time" property="restTime" jdbcType="INTEGER" />
		<result column="create_user" property="createUser" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="modify_user_id" property="modifyUserId"
			jdbcType="INTEGER" />
		<result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
		<result column="Column_1" property="column1" jdbcType="VARCHAR" />
		<result column="Column_2" property="column2" jdbcType="VARCHAR" />
		<result column="Column_3" property="column3" jdbcType="VARCHAR" />
		<result column="Column_4" property="column4" jdbcType="VARCHAR" />
		<result column="Column_5" property="column5" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.camelot.pmt.project.model.Project"
		extends="BaseResultMap">
		<result column="pro_desc" property="proDesc" jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		pro_id, user_id, pro_code, pro_name, pro_status,
		error_state, start_time,
		end_time,
		warn_time, pre_time, consume_time,
		rest_time, create_user, create_time,
		modify_user_id,
		modify_time,
		Column_1, Column_2, Column_3, Column_4, Column_5
	</sql>
	<sql id="Blob_Column_List">
		pro_desc
	</sql>
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from project
		where pro_id = #{proId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		project
		where pro_id = #{proId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.camelot.pmt.project.model.Project">
		insert into project (pro_id,
		user_id, pro_code,
		pro_name, pro_status, error_state,
		start_time,
		end_time, warn_time,
		pre_time, consume_time, rest_time,
		create_user,
		create_time, modify_user_id,
		modify_time, Column_1, Column_2,
		Column_3,
		Column_4, Column_5,
		pro_desc)
		values (#{proId,jdbcType=INTEGER},
		#{userId,jdbcType=INTEGER},
		#{proCode,jdbcType=CHAR},
		#{proName,jdbcType=VARCHAR}, #{proStatus,jdbcType=CHAR},
		#{errorState,jdbcType=CHAR},
		#{startTime,jdbcType=TIMESTAMP},
		#{endTime,jdbcType=TIMESTAMP},
		#{warnTime,jdbcType=TIMESTAMP},
		#{preTime,jdbcType=INTEGER}, #{consumeTime,jdbcType=INTEGER},
		#{restTime,jdbcType=INTEGER},
		#{createUser,jdbcType=INTEGER},
		#{createTime,jdbcType=TIMESTAMP},
		#{modifyUserId,jdbcType=INTEGER},
		#{modifyTime,jdbcType=TIMESTAMP}, #{column1,jdbcType=VARCHAR},
		#{column2,jdbcType=VARCHAR},
		#{column3,jdbcType=VARCHAR},
		#{column4,jdbcType=VARCHAR},
		#{column5,jdbcType=VARCHAR},
		#{proDesc,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.camelot.pmt.project.model.Project">
		insert into project
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="proId != null">
				pro_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="proCode != null">
				pro_code,
			</if>
			<if test="proName != null">
				pro_name,
			</if>
			<if test="proStatus != null">
				pro_status,
			</if>
			<if test="errorState != null">
				error_state,
			</if>
			<if test="startTime != null">
				start_time,
			</if>
			<if test="endTime != null">
				end_time,
			</if>
			<if test="warnTime != null">
				warn_time,
			</if>
			<if test="preTime != null">
				pre_time,
			</if>
			<if test="consumeTime != null">
				consume_time,
			</if>
			<if test="restTime != null">
				rest_time,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="modifyUserId != null">
				modify_user_id,
			</if>
			<if test="modifyTime != null">
				modify_time,
			</if>
			<if test="column1 != null">
				Column_1,
			</if>
			<if test="column2 != null">
				Column_2,
			</if>
			<if test="column3 != null">
				Column_3,
			</if>
			<if test="column4 != null">
				Column_4,
			</if>
			<if test="column5 != null">
				Column_5,
			</if>
			<if test="proDesc != null">
				pro_desc,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="proId != null">
				#{proId,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="proCode != null">
				#{proCode,jdbcType=CHAR},
			</if>
			<if test="proName != null">
				#{proName,jdbcType=VARCHAR},
			</if>
			<if test="proStatus != null">
				#{proStatus,jdbcType=CHAR},
			</if>
			<if test="errorState != null">
				#{errorState,jdbcType=CHAR},
			</if>
			<if test="startTime != null">
				#{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="warnTime != null">
				#{warnTime,jdbcType=TIMESTAMP},
			</if>
			<if test="preTime != null">
				#{preTime,jdbcType=INTEGER},
			</if>
			<if test="consumeTime != null">
				#{consumeTime,jdbcType=INTEGER},
			</if>
			<if test="restTime != null">
				#{restTime,jdbcType=INTEGER},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyUserId != null">
				#{modifyUserId,jdbcType=INTEGER},
			</if>
			<if test="modifyTime != null">
				#{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="column1 != null">
				#{column1,jdbcType=VARCHAR},
			</if>
			<if test="column2 != null">
				#{column2,jdbcType=VARCHAR},
			</if>
			<if test="column3 != null">
				#{column3,jdbcType=VARCHAR},
			</if>
			<if test="column4 != null">
				#{column4,jdbcType=VARCHAR},
			</if>
			<if test="column5 != null">
				#{column5,jdbcType=VARCHAR},
			</if>
			<if test="proDesc != null">
				#{proDesc,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.camelot.pmt.project.model.Project">
		update project
		<set>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="proCode != null">
				pro_code = #{proCode,jdbcType=CHAR},
			</if>
			<if test="proName != null">
				pro_name = #{proName,jdbcType=VARCHAR},
			</if>
			<if test="proStatus != null">
				pro_status = #{proStatus,jdbcType=CHAR},
			</if>
			<if test="errorState != null">
				error_state = #{errorState,jdbcType=CHAR},
			</if>
			<if test="startTime != null">
				start_time = #{startTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				end_time = #{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="warnTime != null">
				warn_time = #{warnTime,jdbcType=TIMESTAMP},
			</if>
			<if test="preTime != null">
				pre_time = #{preTime,jdbcType=INTEGER},
			</if>
			<if test="consumeTime != null">
				consume_time = #{consumeTime,jdbcType=INTEGER},
			</if>
			<if test="restTime != null">
				rest_time = #{restTime,jdbcType=INTEGER},
			</if>
			<if test="createUser != null">
				create_user = #{createUser,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyUserId != null">
				modify_user_id = #{modifyUserId,jdbcType=INTEGER},
			</if>
			<if test="modifyTime != null">
				modify_time = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="column1 != null">
				Column_1 = #{column1,jdbcType=VARCHAR},
			</if>
			<if test="column2 != null">
				Column_2 = #{column2,jdbcType=VARCHAR},
			</if>
			<if test="column3 != null">
				Column_3 = #{column3,jdbcType=VARCHAR},
			</if>
			<if test="column4 != null">
				Column_4 = #{column4,jdbcType=VARCHAR},
			</if>
			<if test="column5 != null">
				Column_5 = #{column5,jdbcType=VARCHAR},
			</if>
			<if test="proDesc != null">
				pro_desc = #{proDesc,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where pro_id = #{proId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.camelot.pmt.project.model.Project">
		update
		project
		set user_id = #{userId,jdbcType=INTEGER},
		pro_code =
		#{proCode,jdbcType=CHAR},
		pro_name = #{proName,jdbcType=VARCHAR},
		pro_status = #{proStatus,jdbcType=CHAR},
		error_state =
		#{errorState,jdbcType=CHAR},
		start_time =
		#{startTime,jdbcType=TIMESTAMP},
		end_time =
		#{endTime,jdbcType=TIMESTAMP},
		warn_time =
		#{warnTime,jdbcType=TIMESTAMP},
		pre_time = #{preTime,jdbcType=INTEGER},
		consume_time = #{consumeTime,jdbcType=INTEGER},
		rest_time =
		#{restTime,jdbcType=INTEGER},
		create_user =
		#{createUser,jdbcType=INTEGER},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		modify_user_id =
		#{modifyUserId,jdbcType=INTEGER},
		modify_time =
		#{modifyTime,jdbcType=TIMESTAMP},
		Column_1 =
		#{column1,jdbcType=VARCHAR},
		Column_2 = #{column2,jdbcType=VARCHAR},
		Column_3 = #{column3,jdbcType=VARCHAR},
		Column_4 =
		#{column4,jdbcType=VARCHAR},
		Column_5 = #{column5,jdbcType=VARCHAR},
		pro_desc = #{proDesc,jdbcType=LONGVARCHAR}
		where pro_id =
		#{proId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.camelot.pmt.project.model.Project">
		update project
		set
		user_id = #{userId,jdbcType=INTEGER},
		pro_code =
		#{proCode,jdbcType=CHAR},
		pro_name = #{proName,jdbcType=VARCHAR},
		pro_status = #{proStatus,jdbcType=CHAR},
		error_state =
		#{errorState,jdbcType=CHAR},
		start_time =
		#{startTime,jdbcType=TIMESTAMP},
		end_time =
		#{endTime,jdbcType=TIMESTAMP},
		warn_time =
		#{warnTime,jdbcType=TIMESTAMP},
		pre_time = #{preTime,jdbcType=INTEGER},
		consume_time = #{consumeTime,jdbcType=INTEGER},
		rest_time =
		#{restTime,jdbcType=INTEGER},
		create_user =
		#{createUser,jdbcType=INTEGER},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		modify_user_id =
		#{modifyUserId,jdbcType=INTEGER},
		modify_time =
		#{modifyTime,jdbcType=TIMESTAMP},
		Column_1 =
		#{column1,jdbcType=VARCHAR},
		Column_2 = #{column2,jdbcType=VARCHAR},
		Column_3 = #{column3,jdbcType=VARCHAR},
		Column_4 =
		#{column4,jdbcType=VARCHAR},
		Column_5 = #{column5,jdbcType=VARCHAR}
		where pro_id = #{proId,jdbcType=INTEGER}
	</update>
</mapper>
