<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.camelot.pmt.platform.role.mapper.RoleMapper" >
    <resultMap id="BaseResultMap" type="com.camelot.pmt.platform.role.model.Role" >
        <id column="id" property="id"/>
        <result column="roleId" property="roleId"/>
        <result column="parentId" property="parentId"/>
        <result column="rolename" property="roleName"/>
        <result column="state" property="state"/>
        <result column="createtime" property="createTime"/>
        <result column="modifytime" property="modifyTime"/>
    </resultMap>
    
    <sql id="Base_Column_List" >
        id,parentId,roleId,rolename,state,createtime,modifytime
    </sql>
    <sql id="add_Column_List" >
        <trim suffixOverrides=",">
            <if test="roleId != null">roleId,</if>
            <if test="parentId != null">parentId,</if>
            <if test="roleName != null">rolename,</if>
            <if test="state != null">state,</if>
            <if test="createTime != null">createtime,</if>
            <if test="modifyTime != null">modifytime</if>
        </trim>
    </sql>

    <sql id="sql_add_properties">
        <trim suffixOverrides=",">
            <if test="roleId != null">#{roleId},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="roleName != null">#{roleName},</if>
            <if test="state != null">#{state},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="modifyTime != null">#{modifyTime},</if>
        </trim>
    </sql>

    <select id="queryRoleArray" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
	   FROM pmt_platform_role
    </select>

    <insert id="addRole" parameterType="Role">
        INSERT INTO pmt_platform_role(
            <include refid="add_Column_List"/>
            ) VALUES (
            <include refid="sql_add_properties"/>
        )
    </insert>

    <update id="editRole" parameterType="Role">
        UPDATE pmt_platform_role
        <set>
            <if test="roleName != null">
                rolename = #{roleName},
            </if>
            <if test="parentId != null">
                parentId = #{parentId}
            </if>
        </set>
        WHERE roleId = #{roleId}
    </update>

    <delete id="deleteRole" parameterType="Role">
        DELETE FROM pmt_platform_role WHERE roleId = #{roleId}
    </delete>

    <delete id="deleteRoleMenu" parameterType="Role">
        DELETE FROM pmt_platform_role_menu WHERE roleId = #{roleId}
    </delete>
</mapper>