<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camelot.pmt.platform.role.mapper.RoleToMenuMapper">

	<!-- 根据角色id 查询菜单树 -->
	<select id="queryMenuByRoleId">
	   select menuId from pmt_platform_role_menu where roleId = #{roleId}
	</select>
	

</mapper>
