<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.camelot.pmt.platform.mapper.RoleToUserMapper" >
    <resultMap id="BaseResultMap" type="com.camelot.pmt.platform.model.RoleToUser" >
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="user_id" property="userId"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="modify_user_id" property="modifyUserId"/>
    </resultMap>
    
    <sql id="Base_Column_List" >
        id,role_id,user_id,create_time,modify_time,create_user_id,modify_user_id
    </sql>
    <sql id="add_Column_List" >
        <trim suffixOverrides=",">
            <if test="roleId != null">role_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="modifyTime != null">modify_time,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="modifyUserId != null">modify_user_id,</if>
        </trim>
    </sql>

    <sql id="sql_add_properties">
        <trim suffixOverrides=",">
            <if test="roleId != null">#{roleId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="modifyTime != null">#{modifyTime},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="modifyUserId != null">#{modifyUserId},</if>
        </trim>
    </sql>

    <insert id="addUserByRole" parameterType="RoleToUser">
        INSERT INTO platform_user_role(
            <include refid="add_Column_List"/>
            ) VALUES (
            <include refid="sql_add_properties"/>
        )
    </insert>

    <delete id="deleteUserByRoleId" parameterType="RoleToUser">
        DELETE FROM platform_user_role WHERE role_id = #{roleId}
    </delete>

    <select id="queryUserByRole" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM platform_user_role
        WHERE role_id = #{roleId}

    </select>

</mapper>