<?xml version= "1.0" encoding ="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.camelot.pmt.platform.mapper.UserMapper">

    <!-- 映射UserModel实体 -->
    <resultMap id="userModel" type="com.camelot.pmt.platform.model.User">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="loginCode" column="login_code"/>
        <result property="password" column="password"/>
        <result property="username" column="user_name"/>
        <result property="state" column="state"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="modifyUserId" column="modify_user_id"/>
    </resultMap>
    <!-- 用户查询字段 -->
    <sql id="userColumns">
      id,user_id,login_code,password,user_name,state,create_time,modify_time,create_user_id,modify_user_id
    </sql>
    
    
    <!-- 新增用户                                              新开始 -->
    <!-- 插入用户表开始 -->
    <!-- 新增列处理 -->
	<sql id="sql_add_user_columns">
		<trim suffixOverrides=",">
			<if test="userId != null">user_id,</if>
			<if test="loginCode != null">login_code,</if>
			<if test="password != null">password,</if>
			<if test="username != null">user_name,</if>
			<if test="state != null">state,</if>
			<if test="createUserId != null">create_user_id,</if>
			<if test="modifyUserId != null">modify_user_id</if>
		</trim>
	</sql>
	<!-- 新增列属性 -->
	<sql id="sql_add_user_properties">
		<trim suffixOverrides=",">
				<if test="userId != null">#{userId},</if>
				<if test="loginCode != null">#{loginCode},</if>
				<if test="password != null">#{password},</if>
				<if test="username != null">#{username},</if>
				<if test="state != null">#{state},</if>
				<if test="createUserId != null">#{createUserId},</if>
				<if test="modifyUserId != null">#{modifyUserId}</if>
		</trim>		
	</sql>
	<!-- 新增用户 -->
	<insert id="insertUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.camelot.pmt.platform.model.User">
		insert into platform_user(
			<include refid="sql_add_user_columns"/>
		)values(
			<include refid="sql_add_user_properties"/>
		)
	</insert> 
	<!-- 插入用户表开始 -->
	
	<!-- 用户信息表插入 开始-->
	
	<sql id="sql_add_user_info_columns">
		<trim suffixOverrides=",">
			<if test="userId != null">user_id,</if>
			<if test="userJobNum != null">user_job_num,</if>
			<if test="userPhone != null">user_phone,</if>
			<if test="userMail != null">user_mail,</if>
			<if test="createUserId != null">create_user_id,</if>
			<if test="modifyUserId != null">modify_user_id</if>
		</trim>
	</sql>
	<!-- 新增列属性 -->
	<sql id="sql_add_user_info_properties">
		<trim suffixOverrides=",">
				<if test="userId != null">#{userId},</if>
				<if test="userJobNum != null">#{userJobNum},</if>
				<if test="userPhone != null">#{userPhone},</if>
				<if test="userMail != null">#{userMail},</if>
				<if test="createUserId != null">#{createUserId},</if>
				<if test="modifyUserId != null">#{modifyUserId}</if>
		</trim>		
	</sql>
	<!-- 新增用户信息 -->
	<insert id="insertUserInfo" useGeneratedKeys="true" keyProperty="id" parameterType="com.camelot.pmt.platform.model.User">
		insert into platform_user_info(
			<include refid="sql_add_user_info_columns"/>
		)values(
			<include refid="sql_add_user_info_properties"/>
		)
	</insert> 
	<!-- 用户信息表插入结束-->
	
	<!-- 用户部门表插入开始 -->
	<sql id="sql_add_user_org_columns">
		<trim suffixOverrides=",">
			<if test="userId != null">user_id,</if>
			<if test="orgId != null">org_id,</if>
			<if test="createUserId != null">create_user_id,</if>
			<if test="modifyUserId != null">modify_user_id</if>
		</trim>
	</sql>
	<!-- 新增列属性 -->
	<sql id="sql_add_user_org_properties">
		<trim suffixOverrides=",">
				<if test="userId != null">#{userId},</if>
				<if test="orgId != null">#{orgId},</if>
				<if test="createUserId != null">#{createUserId},</if>
				<if test="modifyUserId != null">#{modifyUserId}</if>
		</trim>		
	</sql>
	<!-- 新增用户组织 -->
	<insert id="insertUserOrg" useGeneratedKeys="true" keyProperty="id" parameterType="com.camelot.pmt.platform.model.User">
		insert into platform_user_org(
			<include refid="sql_add_user_org_columns"/>
		)values(
			<include refid="sql_add_user_org_properties"/>
		)
	</insert>
	<!-- 用户部门表插入结束 -->
	
	<!-- 用户角色表插入开始 -->
	<sql id="sql_add_user_role_columns">
		<trim suffixOverrides=",">
			<if test="userId != null">user_id,</if>
			<if test="roleId != null">role_id,</if>
			<if test="createUserId != null">create_user_id,</if>
			<if test="modifyUserId != null">modify_user_id</if>
		</trim>
	</sql>
	<!-- 新增列属性 -->
	<sql id="sql_add_user_role_properties">
		<trim suffixOverrides=",">
				<if test="userId != null">#{userId},</if>
				<if test="roleId != null">#{roleId},</if>
				<if test="createUserId != null">#{createUserId},</if>
				<if test="modifyUserId != null">#{modifyUserId}</if>
		</trim>		
	</sql>
	<!-- 新增用户信息 -->
	<insert id="insertUserRole" useGeneratedKeys="true" keyProperty="id" parameterType="com.camelot.pmt.platform.model.User">
		insert into platform_user_role(
			<include refid="sql_add_user_role_columns"/>
		)values(
			<include refid="sql_add_user_role_properties"/>
		)
	</insert> 
	<!-- 用户角色表插入开始 -->
	
    
    
    <!-- 新增用户                                       结束 -->
    
    
    <!-- 用户更新 
	<update id="updateUserById" parameterType="userModel">
		update user u
		    <set>
				<if test = "username != null ">
					u.username = #{username},
				</if>
				<if test = "newPassword != null">
					u.password = #{newPassword},
				</if>
				<if test = "role != null  ">
					u.role = #{role},
				</if>
				<if test = "phone != null ">
					u.phone = #{phone},
				</if>
				<if test = "email != null ">
					u.email = #{email},
				</if>
				<if test = "projectId != null ">
					u.project_id = #{projectId},
				</if>
				<if test = "pwdStatus != null ">
					u.pwd_status = #{pwdStatus}
				</if>
			</set>
		where id = #{id} 
	</update> -->
	
	
	<!-- 检查用户登录账号是否存在 -->
	 <select id="findUserByLoginCode" resultMap="userModel" parameterType="java.lang.String" >
        select <include refid="userColumns"/> from platform_user where login_code = #{loginCode}
    </select>
    
	<!-- 根据用户名查找用户密码-->
    <select id="findUserPasswordByLoginCode" resultType="java.lang.String" parameterType="java.lang.String" >
        select password from platform_user where login_code = #{loginCode}
    </select>
    
    <!-- 根据用登录账号 -->
    <select id="checkUserLoginCodeAndPassword" resultMap="userModel" >
        select <include refid="userColumns"/> from platform_user where login_code = #{loginCode} and password = #{password}
    </select>
    
    <!-- 根据userId获取单个信息 -->
    <select id="selectUserById" resultMap="userModel" parameterType="java.lang.String" >
        select <include refid="userColumns"/> from platform_user where user_id = #{userId}
    </select>

    
   <!-- 查询数量公共sql -->
	<sql id="count_Tail">
		select count(1) from platform_user
	</sql>
	
	<!-- 查询总数量 -->
	<select id="queryCount" resultType="long">
		<include refid="count_Tail"></include>
	</select>
	
	<!-- 分页公共sql -->
	<sql id="pagination_tail">
	  limit #{page.pageOffset} , #{page.rows}
	</sql>
	
    <!-- 分页查询所有用户列表 -->
    <select id="findUsersByPage" resultMap="userModel">
        select
        <include refid="userColumns"/>
        from platform_user
        <if test="page!=null">
			<include refid="pagination_tail" />
		</if>
    </select>

	<!--查询所有用户,不分页-->
	<select id="selectUsersAll" resultMap="userModel">
		select <include refid="userColumns"/> from platform_user
	</select>
	

    <!-- 根据Id删除用户 -->
    <delete id="deleteUserById" parameterType="com.camelot.pmt.platform.model.User">
        delete FROM platform_user WHERE user_id = #{userId}
    </delete>

    
  

</mapper>